.navbar-default {
  background-color: #3c85e7;
  border-color: #3c85e7;
  min-height:70px;
  opacity:0.95;
  

}
.navbar-default .navbar-brand {
  color: #edf2f4;
  font-family: 'Special Elite', cursive;
  font-size:25px;

}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #00a5ff;
}
.navbar-default .navbar-text {
  color: #edf2f4;
}
.navbar-default .navbar-nav > li > a {
  color: #edf2f4;
  font-family: 'Roboto Condensed', sans-serif;
  font-size:17px;

}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #00a5ff;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
  background-color: #3c85e7;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: #edf2f4;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #00a5ff;
  background-color: #f4f4f4;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
  background-color: #3c85e7;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #00a5ff;
  background-color: #f4f4f4;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #00a5ff;
  background-color: #f4f4f4;
}
.navbar-default .navbar-toggle {
  border-color: #f4f4f4;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #f4f4f4;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #edf2f4;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #edf2f4;
}
.navbar-default .navbar-link {
  color: #edf2f4;
}
.navbar-default .navbar-link:hover {
  color: #00a5ff;
  background-color: #f4f4f4;
}
li:hover{
  color: #00a5ff;
  background-color: #f4f4f4;
  border-radius:5px;
}
li:active{
      border-radius:5px;
}



@media (max-width: 767px) {

  .navbar-default .navbar-brand {
  
 font-size:18px;
}


    
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #edf2f4;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #00a5ff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #00a5ff;
    background-color: #f4f4f4;
  }
}