@model OnlineStoreMVC.Models.UserViewModel

<hr />
<div class="container">
    <div class="row">

        <div class="col-lg-4" style="height:300px;">
            @{Html.RenderAction("_PhotoAsyncUpload","User");}

        </div>


        <div class="col-md-8" style="text-align:center;">
            @{Html.RenderAction("_AboutUser", "User");}
       
        </div>
    </div>

</div>




































