@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>User Statistics</title>
    <meta charset='utf-8'>
    <link rel="stylesheet" href="~/Content/angular-material.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">
    <link rel="stylesheet" href="~/Content/c3.min.css">
    <link rel="stylesheet" href="~/Content/statstyle.css">
    <meta name="viewport" content="initial-scale=1" />
</head>
<body layout="column" ng-app="StatApp" ng-controller="MainController" ng-cloak>
    <md-toolbar layout="row">
        <button ng-click="toggleSidenav('left')" hide-gt-sm class="menuBtn">
            <span class="visually-hidden">Menu</span>
        </button>
        <h1 class="md-toolbar-tools" layout-align-gt-sm="center">{{header}}</h1>
    </md-toolbar>
    <div layout="row" flex>
        <md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')">
            <md-list>
                <md-subheader class="md-no-sticky">Kategorie</md-subheader>
                <md-list-item class="md-3-line" ng-repeat="item in categories">
                    <a href="#/charts/{{$index}}">
                        <div class="md-list-item-text category" ng-click="changeDetail($index)" ng-class="{'selected': $index === selected}">
                            <h3>{{ item.title }}</h3>
                        </div>
                    </a>
                    <md-divider></md-divider>
                </md-list-item>
                @*<md-subheader class="md-no-sticky">{{detail}}</md-subheader>*@
            </md-list>
        </md-sidenav>
        <div layout="column" flex id="content">
            <md-content layout="column" flex class="md-padding">
                <h1>{{categories[selected].title}}</h1>
                <md-divider></md-divider>
                <div id="chart2"></div>
                @*<p>{{detail}}</p>*@
            </md-content>
        </div>
    </div>
    <!-- Angular Material Dependencies -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-aria.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/0.8.3/angular-material.min.js"></script>
    <script src="https://code.angularjs.org/1.2.28/angular-route.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.10/c3.min.js"></script>

    <!-- app code-->
    <script src="~/Scripts/ng/app.js"></script>

    <script src="~/Scripts/ng/controllers/MainController.js"></script>

    <script src="~/Scripts/ng/services/statistics.js"></script>
</body>
</html>
